<div class="my-5"></div>
<div class="card">
    <div class="card-header text-b">
      Tabela de Vendas
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Produto</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
                <th scope="col" width="60">Ações</th>
              </tr>
            </thead>
            <tbody>
                <% products.forEach(function(product){ %>
                    <tr>
                        <th scope="row"><%= product.name %></th>
                        <td><%= helpers.dateFormat(product.createdAt) %></td>
                        <td><%= helpers.moneyFormat(product.price) %></td>
                        <td>
                            <a href="/products/edit/<%= product.id %>" type="button" class="btn btn-outline-warning">Editar</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
          </table>
    </div>
</div>
<div class="my-5"></div>
<div class="card">
    <div class="card-header text-b">
      Resultados das Vendas
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Total</th>
              </tr>
            </thead>
            <tbody>
                <% sales.forEach(function(sale){ %>
                <tr>
                    <th scope="row"><%= helpers.saleType(sale.status) %></th>
                    <td><%= sale.quantity %></td>
                    <td><%= helpers.moneyFormat(sale.saleAmount) %></td>
                </tr>
                <% }); %>
            </tbody>
          </table>
    </div>
</div>
