
        <form method="GET" action="/search">
            <div class="form-row align-items-center">
                <div class="col-sm-6 my-3">
                    <select name="customer" class="custom-select my-1 mr-sm-2">
                        <option <% if (!query.customerId) { %>selected<% } %> value="">Clientes</option>
                        <% customers.forEach(function(customer) { %>
                            <option <% if (query.customerId == customer.id) { %>selected<% } %> value="<%= customer.id %>"><%= customer.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="col-sm-5 my-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text">Período</div>
                    </div>
                    <input type="text" name="date" class="form-control date" value="<%= query.date %>">
                </div>
                </div>
                <div class="col-auto my-3">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>