body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.content-title {
  margin-bottom: 30px;
  text-align: center;
}
.text-c {
  text-align: center;
}
.text-b {
  font-weight: bold;
}