<!DOCTYPE html>
<html>
  <%- include('../includes/head'); %>
  <body>
    <%- include('../includes/top-bar-search'); %>
    <%- include('../includes/search-result'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.date').mask('00/00/0000');
        });
    </script>
  </body>
</html>