<!DOCTYPE html>
<html>
  <%- include('../includes/head'); %>
  <body>
    <div class="card">
        <div class="card-header text-b text-c">
          Pesquisa avançada
        </div>
        <div class="card-body">
            <form method="GET" action="/">
                <input type="hidden" name="customer" value="<%= query.customerId %>">
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">Produto</div>
                      </div>
                      <input type="text" class="form-control" name="product">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">Data</div>
                      </div>
                      <input type="text" class="form-control date" name="date" value="<%= query.date %>">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">Valor</div>
                      </div>
                      <input type="text" class="form-control money" name="price">
                    </div>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary" name="search">Filtrar</button>
                </div>
              </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.date').mask('00/00/0000');
            $('.money').mask('000.000.000.000.000,00', {reverse: true});
        });
    </script>
  </body>
</html>
